.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.box {
  height: auto;
  width: 100%; /* Full width on small screens */
  max-width: 350px; /* Maximum width */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 20px;
  animation: boxShadowGlow 3s infinite alternate;
  margin: 20px;
}

@keyframes boxShadowGlow {
  0% {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.8); /* Blue glow */
  }
  100% {
    box-shadow: 0 4px 20px rgba(50, 205, 50, 0.8); /* Green glow */
  }
}

.box:hover {
  transform: translateY(-10px);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

.btn {
  padding: 10px 15px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  max-width: 320px;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  animation: buttonShadowGlow 3s infinite alternate;
}

@keyframes buttonShadowGlow {
  0% {
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5);
  }
  50% {
    box-shadow: 0 4px 15px rgba(255, 69, 0, 0.8);
  }
  100% {
    box-shadow: 0 4px 15px rgba(50, 205, 50, 0.8);
  }
}

a {
  text-decoration: none;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .box {
    width: 100%; /* Ensure each box takes the full width on small screens */
    max-width: 100%; /* Full width */
    margin: 10px 0;
  }

  .card-content {
    height: auto;
  }

  .btn {
    font-size: 12px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    font-size: 10px;
    padding: 6px 10px; /* Adjust padding for very small screens */
    width: 100%;
  }

  .box {
    max-width: 100%; /* Ensure box takes full width */
    padding: 10px;
    margin: 5px 0; /* Reduce margin for small screens */
  }

  .card-image {
    height: auto; /* Ensure the image adjusts well on smaller screens */
    width: 100%;
  }

  .container {
    padding: 5px; /* Reduce padding for extra small screens */
  }
}
